<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1 style="color: #00b7ff; margin: auto; width: min-content;">INGRESE LOS DATOS CORRESPONDIENTES:</h1>
    <br>
    <br>
    <form action="api/productos/" method="POST" style="background-color: #7fdbff; width: min-content; padding: 2em; margin: auto; border: 2px solid #00b7ff;">
        <div style="display: flex; margin: auto; width: min-content;">
            <label for="price">PRECIO:</label>
            <input type="number" min="0" name="price">
            <label for="price">TITULO:</label>
            <input type="text" name="title">
            <label for="price">FOTO:</label>
            <input type="text" name="thumbnail">
        </div>
        <br>
        <br>
        <button style="margin: auto; align-self: center; display: flex;">ENVIAR</button>
    </form>
    <hr>
</body>
</html>